@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HomePage</title>
</head>
<body>
<header>
    <nav>
        <img src="https://res.cloudinary.com/de11pqvgo/image/upload/v1757970383/Logo_logvme.png" alt="MyHotel">
        <a href="#">Favorites</a>
        <button>Language</button>
        <a href="#">Profile</a> 
        <button>Menu</button>
    </nav>
</header>

<main>
    <section id="searching">
    <input type="text">
    <button>Select dates</button>
    <button>Search</button>
    </section>

    <section id="Hot-deals">
        <div>
            <img src="#" alt="Hot hotel deals right now">
        </div>
    </section>
</main>

<footer id="contacts">
    <a href="#">About me</a>
    <a href="#">Help</a>
    <img src="#" alt="github">
</footer>
</body>
</html>